local localconfig = {}
localconfig.skills = {}

-- ### Step 1: Set up your screen resolution. ###
localconfig.fullscreen = false -- Set this to "true" for fullscreen.
localconfig.screenWidth = 800 -- Choose your screen width in pixels.
localconfig.screenHeight = 600 -- Choose your screen height in pixels.

-- ### Step 2: Set your player name and join one of the four teams. ###
localconfig.playerName = "changeme" -- Just type your nickname in between the "".
localconfig.team = "choose one" -- You can pick "alpha", "beta", "gamma" or "delta".

-- ### Step 3: Pick your weapon of choice. ###
localconfig.weapon = "pickme" -- You can use "bow", "scythe" or "staff".

-- ### Step 4: Now choose which skills you want to use in your selected weapon class. ###
-- ### To pick a skill, remove the two dashes (--) in front of the skills line. ###
-- ### You can only have up to six skills in total so we advise to pick exactly three skills per weapon. ###

if localconfig.weapon == "bow" then --pick three out of these six weapon skills
	table.insert(localconfig.skills,"bow_shot")
	table.insert(localconfig.skills,"bow_puncture")
	table.insert(localconfig.skills,"bow_snare")
	-- table.insert(localconfig.skills,"bow_expose")
	-- table.insert(localconfig.skills,"bow_root")
	-- table.insert(localconfig.skills,"bow_mark_target")
elseif localconfig.weapon == "scythe" then --pick three out of these six weapon skills
	table.insert(localconfig.skills,"scythe_sweep")
	table.insert(localconfig.skills,"scythe_pirouette")
	table.insert(localconfig.skills,"scythe_jump")
	-- table.insert(localconfig.skills,"scythe_harpoon")
	-- table.insert(localconfig.skills,"scythe_stun")
	-- table.insert(localconfig.skills,"scythe_gank")
elseif localconfig.weapon == "staff" then --pick three out of these six weapon skills
	table.insert(localconfig.skills,"staff_life_leech")
	table.insert(localconfig.skills,"staff_poison")
	table.insert(localconfig.skills,"staff_fireball")
	-- table.insert(localconfig.skills,"staff_heal_other")
	-- table.insert(localconfig.skills,"staff_healing_breeze")
	-- table.insert(localconfig.skills,"staff_mezz")
end	

-- ### Step 5: Now pick your armor of choice. ###
localconfig.armor = "pickme" -- You can decide between "robe", "hide_armor" and "splint_mail".

-- ### Step 6: Now choose which skills you want to use in your selected armor class. ###
-- ### To pick a skill, remove the two dashes (--) in front of the skills line. ###
-- ### Remember: You can only have up to six skills in total so we advise to pick exactly three skills here, too. ###

if localconfig.armor == "robe" then --pick three out of these six armor skills
	table.insert(localconfig.skills,"robe_bandage")
	table.insert(localconfig.skills,"robe_shrink")
	table.insert(localconfig.skills,"robe_stun_break")
	-- table.insert(localconfig.skills,"robe_hide")
	-- table.insert(localconfig.skills,"robe_quake")
	-- table.insert(localconfig.skills,"robe_gust")
elseif localconfig.armor == "hide_armor" then --pick three out of these six armor skills
	table.insert(localconfig.skills,"hide_armor_sprint")
	table.insert(localconfig.skills,"hide_armor_sneak")
	table.insert(localconfig.skills,"hide_armor_root_break")
	-- table.insert(localconfig.skills,"hide_armor_snare_break")
	-- table.insert(localconfig.skills,"hide_armor_regenerate")
	-- table.insert(localconfig.skills,"hide_armor_second_wind")
elseif localconfig.armor == "splint_mail" then --pick three out of these six armor skills
	table.insert(localconfig.skills,"splint_mail_absorb")
	table.insert(localconfig.skills,"splint_mail_ignore_pain")
	table.insert(localconfig.skills,"splint_mail_mezz_break")
	-- table.insert(localconfig.skills,"splint_mail_grow")
	-- table.insert(localconfig.skills,"splint_mail_rage")
	-- table.insert(localconfig.skills,"splint_mail_invulnerability")
end
		
return localconfig
