
this.adminPassword = "lala";

this.webPort = 12323;

this.welcomeMessage = "Welcome!";

this.accounts = {
	// name: "key",
};

this.mysql = {
        user: "dastal",
        host: "localhost",
        password: "dastal",
	database: "dastal",
};
